.eventsect1 {
  background-image: url(/assets/eventsPage/event6.png);
  background-size: cover;
  width: 100vw;
  height: 50vh;
  position: relative;
}

.eventSection2 {
  justify-content: center;
  margin: 10% 20%;
}

.customEventContainer {
  width: 70%;
}

.customEventPicture {
  background-image: url(/assets/customEvent/event-picture.png);
  background-size: cover;
  border-radius: 20px;
  height: 40vh;
  margin-bottom: 30px;
}

.customEventDonate{
  background-image: url(/assets/customEvent/donate-picture.png);
  background-size: cover;
  height: 15vh;
  width: 100%;
  position: relative;
}

.customEventDonate-btn{
  background-color: #fbd559;
  position: absolute;
  bottom: 40%;
  right: 20%;
}

.summary-list{
  background-color: #faf4e8;
}

.customEventCreated{
  height: 200px;
  width: 30%;
  margin: 30px;
}

/* .container {
    margin-top: 20px;
  }
  
  .event-section {
    display: flex;
    justify-content: space-between;
  }
  
  .event-info {
    flex: 1;
    background-color: #ffffcc;
    border-radius: 50px;
    padding: 20px;
    margin-right: 20px;
  }
  
  .event-heading {
    margin-bottom: 10px;
  }
  
  .event-details {
    margin-bottom: 20px;
  }
  
  .event-details-row {
    margin-bottom: 5px;
  }
  
  .event-description {
    flex: 2;
  }
  
  .top-donors {
    margin-top: 20px;
  }
  
  .top-donors ul {
    list-style-type: none;
    padding: 0;
  }
  
  .top-donors ul li {
    margin-bottom: 5px;
  }
  
  .joinbtn{
    background-color: #fbd55a;
    color: black;
  }

.joinbtn:hover{
  background-color: #76734b;
} */