.custom-btn{
    background-color: #00715d;
    color: white;
}

.ngoListing-picture{
    background-image: url(/assets/eventsPage/event2.png);
    background-size:cover;
    width: 100%;
    height: 300px;
}